<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.trans_action.voTrans_actionVO" alias="cart"/> <!-- Cart클래스의 이름을 cart로 치환 -->
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/trans_actionmapper.xml" /> <!-- Cart관련 쿼리 파일 등록-->
	</mappers>
</configuration>